.content {
    max-width:600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .quienes-somos {
    margin-top: 20px;
    display: flex;
    flex-direction: row; /* Cambiar a disposición en fila */
    align-items: flex-start; /* Alineación al inicio (arriba) */
  }
  
  .quienes-somos h3 {
    color: #ff8000;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .quienes-somos p {
    font-size: 20px;
    line-height: 1.5;
  }
  
  .descripcion {
  
    max-width: 500px; /* Ajusta el ancho máximo según tu preferencia */
    margin-top: 5px; /* Ajusta el margen superior según tu preferencia */
  
  }
  
  .perro {
    margin-left: 100px; /* Espacio entre la descripción y la imagen */
  }
  
  .perro img {
    max-width: 80%; /* La imagen no superará el ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
  }
  iframe {
    
    width: 100%;
    height: 100px;
  }
